# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here

# Google OAuth
GOOGLE_CLIENT_ID=585414240560-25n1e7b3cg6b1vp6chbesta5ve01lsng.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

BACKEND_URL=http://localhost:8001
NEXT_PUBLIC_BACKEND_URL=http://localhost:8001
NEXT_PUBLIC_APP_URL=http://localhost:3000

JUDGE0_API_URL=LINK_TO_JUDGE0_API